<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>分享快乐 记录点滴</title>
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
<link rel="icon" href="/static/img/title.png" type="image/x-icon"/>
<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>

</head>
<body>
<div id="pageHead"></div>
<div>家园</div>
<div id="pageFoot"></div>
</body>
<script type="text/javascript">
	$(document).ready(function () {
		$('#pageHead').load('/head');
		$('#pageFoot').load('/foot');
	});
</script>
</html>