<script type="text/javascript" src="/static/js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
<title>分享快乐 记录点滴</title>
<meta name="viewport" content="width=device-width, initial-scale=0.6">
<style type="text/css">
#write-title{
	margin-left: 10%;
	width:80%;height:2.5rem;
	font-weight: 500;font-size: 1.5rem;line-height:3rem;text-align: center;
	background-color: #eee;
	border: none;
}
#write-role{
	width:10%;height:2.6rem;
	font-weight: 500;font-size: 1rem;line-height:3rem;text-align: center;
	background-color: #eee;
	border: none;
	border-radius: 5px;
}
#write-content{
    margin-left: 10%;
    width:80%;
}
.normal-text{
	margin-left: 10%;
	font-weight: 600;font-size: 1.5rem;color:#888;
}
#write-panl{
	font-size: 1rem;
	background-color: #eee;
	height:30rem;
}
#write-panl .w-e-menu{
	font-size: 1.2rem;
	line-height:1rem;
}
#write-panl p{
	cursor: text;
}
button{
	width: 6rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background: #888;
    cursor: pointer;
}
</style>
<div id="pageHead"><script type="text/javascript">$(document).ready(function () {$('#pageHead').load('/head')});</script></div>
<br>
<div class="normal-text" >标题：</div>
<div style="display: inline-block;width: 100%;">
	<input id="write-title" ></input>
	<!--  select id="write-role" >
		<option value="public">公开</option>
		<option value="private">私人</option>
	</select-->
	<input id="write-uuid" style="display: none;"></input>
</div>
<div class="normal-text" >正文：</div>
<div id="write-content">
	<div id="write-panl"></div>
</div>
<br>
<div id="write-submit" style="text-align: right;">
	<button style="background-color: #2196F3;margin-right:1rem;" onclick="uploadArticle()">保存</button>
	<button style="background-color: #dd5986;margin-right:10rem;" onclick="clearArticle()">重置</button>
</div>

<script>
function browserRedirect() {
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
        return("phone");
    } else {
    	return("pc");
    }
}
	var E = window.wangEditor;
	var editor = new E('#write-panl');
	if(browserRedirect()!="pc"){
		editor.customConfig.menus = [ 'emoticon','bold',  'link', 'table','undo', 'redo','fontCount']
	}
	editor.customConfig.debug = true;
	editor.customConfig.uploadImgServer = '/upload/uploadArticleImage'
	editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
	editor.customConfig.uploadImgMaxLength = 1;
	editor.customConfig.onchange = function (html) {
		document.getElementById('fontCount').innerText=editor.txt.text().length;
    }
	editor.customConfig.customUploadImg = function (files, insert) {
		for(var n=0;n<files.length;n++){
			var formData = new FormData();//初始化一个FormData对象
			formData.append("file", files[n]);//将文件塞入FormData
			$.ajax({
				url : "/upload/uploadArticleImage?fileName="+files[n].name,
				type : "POST",
				data : formData,
				async:false, 
				processData : false, // 告诉jQuery不要去处理发送的数据
				contentType : false, // 告诉jQuery不要去设置Content-Type请求				
				success : function(imageSrc) {
					insert(imageSrc);
				}
			});
		}
	}
	editor.create();
	
	function init(){//赋予编辑框正文和标题
		$.ajax({
			url : "/article/editArticle",
			type : "POST",
			async:false, 
			success : function(article) {
				$('#write-title').val(article.title);
				$("#write-uuid").val(article.id)
				editor.txt.html(article.content);
			}
		});
	}
	function clearArticle(){
		var r=confirm("确认清空所有文字?清空后将不能被回退找回");
	  	if (r==true){//选择取消
	  		editor.txt.clear();
	  	}
	}
	function uploadArticle(){
		if ($('#write-title').val()=="") {
			alert("请把我填上标题，谢谢！！");
			return;
		}
		if (editor.txt.text()=="") {
			alert('<p>稍微写点东西吧</p>')
			return;
		}
		var r=confirm("确认提交保存?保存后可以在广场查看");
	  	if (r==false){//选择取消
	  		return;
	  	}
		$.ajax({
			url : "/article/uploadArticle",
			type : "POST",
			data : {articleUuid:$('#write-uuid').val(),articleRole:'public',articleContent:editor.txt.html(),title:$('#write-title').val()},
			async:false, 
			success : function(articleUuid) {
				if(articleUuid=="success"){
					alert("保存成功!");
					$(window).attr('location',"/page/square");
				}else if(articleUuid=='errUser'){
					alert("保存失败,文章作者不是当前登录人!");
				}else{
					alert("保存失败!请联系李杰：465012217");
				}
			}
		});
	}
	
	init();
</script>
